*{
    margin: 0;
    padding : 0;
    background-color:  rgb(233, 223, 205);;
}
.cats{
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: 'Rawrote Demo';
    font-size: 56px;
    color: #cd4a4c;
}
.cats img{
    height: 500px;
}
@media (max-width: 830px){
    .heading{
        font-size: 34px;
        text-align: center;
    }
    .cats img{
        height: 280px;
    }
}