*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    background-color:  rgb(233, 223, 205);
}
@font-face {
    font-family: "Rawrote";
    src: url("Rawrote Demo.ttf") format("truetype");
}
.cats{
    height:100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: 'Rawrote';
    font-size: 56px;
    color: #cd4a4c;
}
.cats img{
    height: 500px;
}
@media (max-width: 900px){
    .heading{
        font-size: 34px;
        text-align: center;
    }
    .cats img{
        height: 280px;
    }
}